footer {
    background-color: #222222;
    color: #f4f4f4;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 15%;
}
  
footer img {
    width: 20%;
    padding: 0 10%;
}
  
footer .text {
    width: 60%;
}