footer {
    background-color: #222222;
    color: #f4f4f4;
}
  
footer img {
    width: 20%;
    padding: 0 10%;
}
  
footer .text {
    width: 60%;
}

footer .main {
    max-width: 400px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 40px 15%;
}