* {
    margin: 0;
    padding: 0;
}

body, html{
    font-family: "Helvetica Neue", 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',"メイリオ", sans-serif;
    color: #ffffff;
    overflow-x: hidden;
}

h2{
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: normal;
}

.h2_text{
    border-bottom: 2px solid white;
}

p{
    font-size: 13px;
    line-height: 25px;
}

section {
    padding: 20px 5%;
    position: relative;
}

@media screen and (min-width: 800px) {
.flex {
    display: flex;
}

.flex section {
    width: 50%;
}

h2{
    margin-bottom: 40px;
}

p, table tr {
    font-size: 14px;
    line-height: 30px;
}
}

@media screen and (min-width: 1200px) {
p, table tr {
    font-size: 16px;
    line-height: 32px;
}
}
