#overview{
    background-color: #F15A24;
    padding: 20px 5% 0 5%;
}

#teacher_img {
    width: 100px;
    height: 100px;
    background-image: url("../image/teacher.jpg");
    background-size: cover;
    background-position: center;
}

#teacher {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.teacher_description {
    padding: 0 5%;
}

.teacher_title {
    margin-bottom: 5px;
}

.teacher_copy {
    font-size: 10px;
    color: #f0f0f0;
}