#overview::after {
    background-color: #F15A24;
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 120%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#teacher_img {
    width: 100px;
    height: 100px;
    background-image: url("../image/teacher.jpg");
    background-size: cover;
    background-position: center;
}

#teacher {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.teacher_description {
    padding: 0 5%;
    flex-grow: 1;
}

.teacher_title {
    margin-bottom: 5px;
}

.teacher_copy {
    font-size: 10px;
    color: #f0f0f0;
}

@media screen and (min-width: 800px) {
#overview::after {
    left: 0;
    top: -50%;
    width: 200%;
    height: 200%;
}

#teacher_img {
    width: 140px;
    height: 140px;
}

#overview .content {
    max-width: 500px;
    margin-left: auto;
}
}

@media screen and (min-width: 1200px) {
#teacher_img {
    width: 160px;
    height: 160px;
}
}
    