#whenwhere::after {
    background-color: #009245;
    content: '';
    display: block;
    left: -150%;
    top: 0;
    width: 300%;
    height: 120%;
    overflow: hidden;
    position: absolute;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
    z-index: -1;
}

table.when-where {
    border-collapse: collapse;
    border: none;
    font-size: 13px;
    line-height: 25px;
    margin-bottom: 20px;
}

table.when-where tr {
    height: 30px;    
}

table.when-where th {
    white-space: nowrap;
    vertical-align: top;
}               

#map{
    width: 100%;
    margin-bottom: 20px;
}