#work_list {
    padding-top: 60px;
    overflow: hidden;
}

#work_list::after {
    background-color: #C43338;
    content: '';
    display: block;
    left: -150%;
    top: 0;
    width: 300%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
    z-index: -1;
}

.article-flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
}

article {
    margin-bottom: 10px;
    background-color: #ffffff;
    width: 100%;
    color: #333333;
}

article img {
    width: 100%;
}

article .content {
    padding: 5px 3% 20px;
}

@media screen and (min-width: 800px) {
#work_list {
    padding-top: 80px;
}

.article-flex  article {
    width: 48%;
    margin: 10px 1%;
}
}

@media screen and (min-width: 1200px) {
#work_list {
    padding-top: 120px;
}

.article-flex  article {
    width: 31%;
    margin: 10px 1%;
}
}