body{
    margin: 0px;
    margin-top: 0px;
}

.gap_vertical{
    width: 100%;
    height:20px;
}

h2{
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
}

.h2_text{
    display: inline-block;
    font-size: 5ex;
    border-bottom: 3px solid white;
}

h3{
    color: #FFFFFF;
}

p{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #FFFFFF;
}

#border1-top{
    width: 100%;
    height: 50%;
}

#border1-top::after{
    background-color: #F15A24;
    content: '';
    display: block;
    left: -50%;
    top: -50px;
    width: 300%;
    height: 50px;
    overflow: hidden;
    position: relative;
    -webkit-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
    z-index: -1;
}
#border1-bottom{
    top: -50px;
    position: relative;
    background-color: #009245;
    height:100px;
    z-index:-2;
}

#border1{
    height: 50px;
}



#border2-top{
    width: 100%;
    height: 50%;
}

#border2-top::after{
    background-color: #009245;
    content: '';
    display: block;
    left: -50%;
    top: -10px;
    width: 300%;
    height: 50px;
    overflow: hidden;
    position: relative;
    -webkit-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
    z-index: -1;
}
#border2-bottom{
    top: -50px;
    position: relative;
    background-color: #C43338;
    height:100px;
    z-index:-2;
}

#border2{
    height: 50px;
}